{% extends "AppMVT/padre.html" %}

{% load static %}


{% block contenido %}

<center>

<h2>INGRESA TUS DATOS PARA SER PARTE DE PARADIGMA!</h2>

    
<form action="{% url 'familia' %}" method="POST"> {% csrf_token %}
    <p class="center">Asociate a nuestro espacio de Servicios Sociales y ten a mano toda la informacion de interes vecinal!</p>

<table>
    {{ formulario.as_table }}
</table>

<input type="submit", value="Enviar">


</form>
</center>
<br><br>

<h2>BUSCA EL ASOCIADO DE TU INTERES</h2>


<form action="{% url 'busquedaFamilia' %}" method="GET"> {% csrf_token %}

<p>DNI: <input type="number" name="dni"></p>


<input type="submit", value="busquedaFamilia">

</form>

<h2 >{{ mensaje }}</h2>

{% endblock %}