{% extends "AppMVT/padre.html" %}

{% load static %}


{% block titulo_de_pagina %}
<h1 class="mb-5"></h1>  
{% endblock %}

{% block contenido %} 

<h1 class="mb-55">EN PARADIGMA BRINDAMOS INFORMACION DE SERVICIOS SOCIALES PARA EL VECINO BARRIAL</h1>
<p><h2>En nuestra pagina encontraras informacion de cobertura medica al alcance de tus necesidades.</h2></p><br>
<p><h2>Los asociados cuentan con:</h2></p><br>
<table>
    <tr>
        <td>
            <ol>
                <li><b>Salon para eventos</b><br> </li><br>
                <li><b>Informacion barrial varia</b><br> </li><br>
                <li><b>Informacion sobre la cobertura inmediata de tu obra social</b><br> </li><br>
                <li><b>Eventos diferentes cada semana</b><br> </li><br>
                <li><b>Descuentos en los comercios adheridos de la zona</b><br> </li><br>
                <li><b>Informacion y asesoramiento sobre leyes vigentes</b><br> </li><br>
                <li><b>Asesoria legal</b><br> </li><br>
            </ol>
        </td>
    </tr>
</table>

<h2>{{ mensaje }}</h2>

{% endblock %}


