{% extends "AppMVT/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}
<h1 class="mb-5"></h1>
{% endblock %}


{% block contenido %}

{% if mensaje %}
<h2>{{ mensaje }}</h2>

{% else %}


<br><h1>LISTADO ASOCIADOS</h1><br><br>

{% for familia in asociados %}

    <ul>
        <li><h3>{{ familia.nombre }}</h3></li>
        <li><h3>{{ familia.dni }}</h3></li>
    </ul>

    <li>{{ p }}</li>
    <button>
        <b><a href="{% url 'eliminarAsociado' familia.id %}">ELIMINAR ASOCIADO</a></b><br><br>
        <b><a href="{% url 'editarAsociado' familia.id %}">EDITAR ASOCIADO</a></b>
    </button>

{% endfor %}

{% endif %}
<a class="btn btn-success" href="{% url 'familia' %}">AGREGAR ASOCIADO</a>

{% endblock %}