{% extends "AppMVT/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}
<h1 class="mb-5"></h1>
{% endblock %}


{% block contenido %}

{% if mensaje %}
<h2>{{ mensaje }}</h2>

{% else %}


<br><h1>LISTADO ASOCIADOS</h1><br><br>

{% for familia in asociados %}

<h4>{{ familia.nombre }} - {{ familia.dni }} - {{ familia.mail }}</h4>
<button>
    <a href="{% url 'eliminarAsociado' familia.id %}">ELIMINAR ASOCIADO</a>
    <a href="{% url 'editarAsociado' familia.id %}">EDITAR ASOCIADO</a>
</button>
<br>
{% endfor %}
    
{% endif %}
<br>
<a class="btn btn-success" href="{% url 'familia' %}">AGREGAR ASOCIADO</a>
       

{% endblock %}