{% extends "AppMVT/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}
<h1 class="mb-5"></h1>  
{% endblock %}

{% block contenido %} 
    <h1 class="mb-55">LEYES VIGENTES DE LAS OBRAS SOCIALES EN ARGENTINA</h1>

{% for post in posts %}
<h1>Post</h1>
{% endfor %}  
<center>
    <h3><a href="https://www.argentina.gob.ar/sssalud/obras-sociales-nacionales"target="_BLANK">Haz click aca, y encontraras mas detalle de las Obras Sociales Nacionales</a></h3><br><br>

<h3><a href="https://www.argentina.gob.ar/justicia/derechofacil/leysimple/obras-sociales#enestapagina"target="_BLANK">Informate por cada Item de interes en este apartado:</a></h3>
</center>

{% endblock %}

