{% extends "AppMVT/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}
<h1 class="mb-5"></h1>  
{% endblock %}

{% block contenido %} 

<h1>¡PRESTADORES DE CARTILLA EN LA ZONA BARRIAL!</h1> 


    <div class="containere">
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>CLINICA VELEZ SARFIELD</h2>
              <h3>Naciones Unidas 984</h3>
              <p>08101229898</p>
              <a href="https://www.cpvs.com.ar/pacientes/atencion/como-llegar-2/"target="_BLANK">MAS INFORMACION</a>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>SANATTORIO ALLENDE</h2>
              <h3>Hipolito Yrigoyen 384</h3>
              <p>351 4235689</p>
              <a href="https://www.sanatorioallende.com/"target="_BLANK">MAS INFORMACION</a>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>SANATORIO ACONCAGUA</h2>
              <h3>Rondau 455</h3>
              <p>0810 333 6655</p>
              <a href="https://sanatorioaconcagua.com/"target="_BLANK">MAS INFORMACION</a>
            </div>
          </div>
        </div>
      </div>

      <div class="containere">
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>CLINICA SOL</h2>
              <h3>Boulevard Chacabuco 705</h3>
              <p>08101229878</p>
              <a href="https://www.clinicadelsol.com.ar/"target="_BLANK">MAS INFORMACION</a>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>CLINICA ROMAGOSA</h2>
              <h3>Ayacucho 20</h3>
              <p>351 4235625</p>
              <a href="https://ojosromagosa.com.ar/"target="_BLANK">MAS INFORMACION</a>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>INSTITUTO OULTON</h2>
              <h3>Av. Velez Sarfirld 562</h3>
              <p>0810 333 6655</p>
              <a href="https://institutoulton.com.ar//"target="_BLANK">MAS INFORMACION</a>
            </div>
          </div>
        </div>
      </div>

{% endblock %}